
<!-- 
  2017.10.11 逸夫楼 Carlsiry
    加入 获取证件好的自定义控件、地址获取自定义控件 到视图
    准备加入 tab 变换组件
 -->
<form class="register-form" [formGroup]="form" (ngSubmit)="onSubmit(form, $event)">
    <md-card class="register-form__card">
        <!-- <md-tab-group> -->
          <!-- <md-tab label="账号信息"> -->
            <md-card-header>
              <md-card-title>注册：</md-card-title>
            </md-card-header>
            <md-card-content>
                <md-form-field class="field-full-width">
                  <input mdInput placeholder="亲输入您邮箱地址" type="email" formControlName="email">
                </md-form-field>
                <md-form-field class="field-full-width">
                  <input mdInput placeholder="亲输入您的密码" type="password" formControlName="password">
                </md-form-field>
                <md-form-field class="field-full-width">
                  <input mdInput placeholder="亲再次输入密码" type="password" formControlName="repeat">
                </md-form-field>
                <!-- 图片列表选择组件 -->
                <app-image-list-select
                  [cols]="6"
                  [title]="'请选择头像'"
                  [items]="items"
                  [useSvgIcon]="true"
                  formControlName="avatar"></app-image-list-select>
                <button md-raised-button class="field-full-width" color="accent" type="submit">注册</button>
            </md-card-content>
            <md-card-actions class="text-right">
              <p class="login-form__tip">已经有账户？<a href="#">登录</a></p>
              <p class="login-form__tip">忘记密码？<a href="#">找回</a></p>
            </md-card-actions>
          <!-- </md-tab> -->
          <!-- <md-tab label="个人信息"> -->
            <div class="full-width">
              <app-identity-input formControlName="identity"></app-identity-input>
            </div>
            <div class="full-width">
              <app-age-input formControlName="dateOfBirth"></app-age-input>
            </div>
            <div class="full-width">
              <app-area-list formControlName="address"></app-area-list>
            </div>
          <!-- </md-tab> -->
        <!-- </md-tab-group> -->
    </md-card>
  </form>
