
<!-- 2017.10.09 修正更新项目的接口调用 -->
<!-- 2017.10.13 使用 State 中的状态渲染 listAnim$ projects$-->
<!-- 2017.10.14 增加 (selectedProject) event -->
<!-- 2017.10.16 修复打开邀请成员对话框没有传入成员数据对的问题 -->
<div class="container" [@listAnim]="listAnim$ | async">
  <app-project-item *ngFor="let project of (projects$ | async)"
    [item]="project" class="card"
    (selectedProject)="onSelectedProject(project)"
    (invate)="openInvateDialog(project)"
    (updateProject)="openUpdateProjectDialog(project)"
    (deleteProject)="openConfirmDeleteProjectDialog(project)">
  </app-project-item>
</div>

<button class="g-fab-btn" mat-fab type="button" (click)="openNewProjectDialog()">
  <mat-icon>add</mat-icon>
</button>
