
// 修复当项目描述为空时，项目卡片不对齐 
.card {
    height: 360px;
    flex: 0 0 360px;
    margin: 10px;
    display: flex;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // height: 100%;
    // width: 100%;
    // align-items: center;
    // justify-content: center;
}
