
<div class="task-lists">
  <app-task-list class="list-container"
    *ngFor="let list of lists">
    <app-task-header 
      [header]="list.name"
      (addNewTask)="openAddNewTaskDialog()"
      (moveAllTask)="openMoveAllTaskDialog()"
      (updateList)="openUpdateListDialog()"
      (deleteList)="openConfirmDeleteDialog()"></app-task-header>
    <app-quick-task (quickTask)="addQuickTask($event)"></app-quick-task>
    <app-task-item
      *ngFor="let task of list.tasks"
      [item]="task"
      (updateTask)="openUpdateTaskDialog()">
    </app-task-item>
  </app-task-list>
</div>

<button class="g-fab-btn" mat-fab type="button" (click)="openNewTaskListDialog()">
    <mat-icon>add</mat-icon>
</button>
