<!-- 2017.10.08 修复ngStyle指令的用法、可以显示普通图片 -->

<div>
  <span>{{title}}</span>
  <!-- 如果使用的普通图片：换用下面的模版显示 -->
  <mat-icon [svgIcon]="selected" *ngIf="useSvgIcon else imgSelect"
     class="avatar"></mat-icon>
  <ng-template #imgSelect>
    <img [src]="selected" alt="image selected" class="cover">
  </ng-template>
</div>
<!-- 图片选择列表 -->
<div class="scroll-container">
  <mat-grid-list [cols]="cols" [rowHeight]="rowHeight">
    <mat-grid-tile *ngFor="let item of items; let i = index">
      <div class="image-container" (click)="onChange(i)">
        <mat-icon [svgIcon]="item" *ngIf="useSvgIcon else imgItem" class="avatar"></mat-icon>
        <ng-template #imgItem>
          <img [src]="item" alt="image item" [ngStyle]="{'width': itemWidth}">
        </ng-template>
        <div class="after">
          <div class="zoom">
            <mat-icon>checked</mat-icon>
          </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>