<form>
    <h2 matDialogTitle>{{title}}</h2>
    <div mat-dialog-content>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="任务描述" type="text">
      </mat-form-field>
      <mat-radio-group>
        <mat-radio-button *ngFor="let priority of priorities" [value]="priority.value">
          {{priority.label}} </mat-radio-button>
      </mat-radio-group>
      <mat-form-field class="field-full-width">
        <input matInput [matDatepicker]="dueDatepicker" placeholder="任务截止日期">
        <mat-datepicker-toggle matSuffix [for]="dueDatepicker"></mat-datepicker-toggle>
      </mat-form-field>
      <mat-datepicker #dueDatepicker></mat-datepicker>
      <mat-form-field class="field-full-width">
        <input matInput [matDatepicker]="reminderDatepicker" placeholder="任务提醒日期">
        <mat-datepicker-toggle matSuffix [for]="reminderDatepicker"></mat-datepicker-toggle>
      </mat-form-field>
      <mat-datepicker #reminderDatepicker></mat-datepicker>
    </div>
    <div mat-dialog-actions>
      <button type="button" mat-raised-button color="primary">保存</button>
      <button type="button" mat-raised-button matDialogClose>关闭</button>
    </div>
  </form>