<form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm, $event)">
  <mat-card class="login-form__card">
      <mat-card-header>
        <mat-card-title>登录</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          <mat-form-field class="field-full-width">
            <input matInput placeholder="邮箱地址" type="email" formControlName="email">
            <span matSuffix>@163.com</span>
            <!-- <mat-error *ngIf="userFormControl.hasError('required')">not correct!</mat-error> -->
            <!-- <mat-error *ngIf="userFormControl.hasError('pattern')">邮箱格式不正确啊!</mat-error> -->
          </mat-form-field>
          <mat-form-field class="field-full-width">
            <input matInput placeholder="用户密码" type="password" formControlName="password">
          </mat-form-field>
          <button mat-raised-button class="field-full-width"
            color="accent" type="submit" [disabled]="!loginForm.valid">登录</button>
      </mat-card-content>
      <mat-card-actions class="text-right">
        <p class="login-form__tip">还没有账户？<a routerLink="/register">注册</a></p>
        <p class="login-form__tip">忘记密码？<a href="#">找回</a></p>
      </mat-card-actions>
  </mat-card>   
  <mat-card class="login-form__card">
    <mat-card-header>
      <mat-card-title>团队精神</mat-card-title>
      <mat-card-subtitle>从你的全世界路过，把全盛的爱都活过。请往前走，不必回头！</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/quote_fallback.jpg" > 
    <mat-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo illum et dolor dolorum? Assumenda incidunt laudantium maxime
    </mat-card-content>
  </mat-card>
</form>