
<!-- 2017.10.08
  增加项目图片选择列表组件表单
  确认按钮的提交方式修改为表单的默认提交方式
 -->
<form [formGroup]="form" (ngSubmit)="onSubmit(form, $event)">
  <h2 matDialogTitle>{{title}}</h2>
  <div mat-dialog-content>
    <mat-form-field class="field-full-width">
      <input matInput placeholder="项目名称" formControlName="name" type="text">
    </mat-form-field>
    <mat-form-field class="field-full-width">
      <input matInput placeholder="项目描述" formControlName="desc" type="text">
    </mat-form-field>
    <!-- 项目图片列表选择组件 -->
    <app-image-list-select
      [cols]="6"
      [title]="'请选择封面'"
      [items]="coverImages"
      [useSvgIcon]="false"
      formControlName="coverImg"></app-image-list-select>
  </div>
  <div mat-dialog-actions>
    <button type="button" mat-raised-button color="primary" type="submit">保存</button>
    <button type="button" mat-raised-button matDialogClose>关闭</button>
  </div>
</form>
