
<div [formGroup]="ageForm" class="age-input">

    <div>
        <md-form-field>
            <input mdInput [mdDatepicker]="birthPicker" formControlName="birthday" placeholder="选择出生日期">
                <md-datepicker-toggle mdSuffix [for]="birthPicker"></md-datepicker-toggle>
                <md-error>日期不正确</md-error>
        </md-form-field>
        <md-datepicker #birthPicker touchUi="true"></md-datepicker>
    </div>

    <ng-container formGroupName="age">

      <div class="age-num">
        <md-form-field>
          <input type="number" mdInput formControlName="ageNum" placeholder="年龄">
        </md-form-field>
      </div>

      <div>
        <md-button-toggle-group formControlName="ageUnit" [(ngModel)]="selectedUnit">
          <md-button-toggle *ngFor="let unit of ageUnits" [value]="unit.value">
            {{unit.label}}
          </md-button-toggle>
        </md-button-toggle-group>
      </div>
      <md-error *ngIf="ageForm.get('age').hasError('ageInvalid')">年龄或单位不正确</md-error>

    </ng-container>
</div>
