
<md-list-item class="container"
  [@taskItemAnim]="taskItemState"
  [ngClass]="{
    'priority-normal': item.priority === 1,
    'priority-important': item.priority === 2,
    'priority-emergency': item.priority === 3
  }"
  [appDraggable]="true" [draggedClass]="'drag-start'">
  <md-checkbox [checked]="item.completed" (click)="onClickCheckbox($event)"></md-checkbox>
  <div md-line class="content" [ngClass]="{'completed': item.completed}"
    (click)="onClickUpdateTask()">
    <span [md-tooltip]="item.desc">{{item.desc}}</span>
  </div>
  <div md-line class="bottom-bar">
    <span class="due-date" *ngIf="item.owner">
      {{item.owner.dueDate | date: "yy-MM-dd"}}
    </span>
    <md-icon *ngIf="item.reminder">alarm</md-icon>
  </div>
  <md-icon [svgIcon]="avatar" md-list-avatar class="avatar"></md-icon>
</md-list-item>
